# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/CodeChallenge/DesignTimeBuild/*.v2
/.vs/CodeChallenge/v16/*.suo
/.vs/CodeChallenge/v16/TestStore/0/*.testlog
/.vs/CodeChallenge/v16/TestStore/0/*.manifest
/CodeChallenageTest/bin/Debug/netcoreapp3.1/*.json
/CodeChallenageTest/bin/Debug/netcoreapp3.1/*.pdb
/CodeChallenageTest/obj/*.json
/CodeChallenageTest/obj/*.props
/CodeChallenageTest/obj/*.targets
/CodeChallenageTest/obj/Debug/netcoreapp3.1/*.cache
/CodeChallenageTest/obj/Debug/netcoreapp3.1/*.CopyComplete
/CodeChallenageTest/obj/Debug/netcoreapp3.1/*.txt
/CodeChallenageTest/obj/Debug/netcoreapp3.1/*.pdb
/CodeChallenageTest/obj/Release/netcoreapp3.1/*.cache
/CodeChallenageTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/CodeChallenageTest/obj/Debug/netcoreapp3.1/CodeChallenageTest.AssemblyInfo.cs
/CodeChallenageTest/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/CodeChallenageTest/obj/Release/netcoreapp3.1/CodeChallenageTest.AssemblyInfo.cs
/CodeChallenageTest/obj/project.nuget.cache
/packages/MSTest.TestAdapter.2.1.1/*.p7s
/packages/MSTest.TestAdapter.2.1.1/*.txt
/packages/MSTest.TestAdapter.2.1.1/*.nupkg
/packages/MSTest.TestAdapter.2.1.1/build/net45/*.props
/packages/MSTest.TestAdapter.2.1.1/build/net45/*.targets
/packages/MSTest.TestAdapter.2.1.1/build/netcoreapp1.0/*.props
/packages/MSTest.TestAdapter.2.1.1/build/uap10.0/*.props
/packages/MSTest.TestAdapter.2.1.1/build/uap10.0/*.targets
/packages/MSTest.TestFramework.2.1.1/*.p7s
/packages/MSTest.TestFramework.2.1.1/*.txt
/packages/MSTest.TestFramework.2.1.1/*.nupkg
/packages/MSTest.TestFramework.2.1.1/lib/net45/*.XML
/packages/MSTest.TestFramework.2.1.1/lib/net45/cs/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/de/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/es/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/fr/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/it/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/ja/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/ko/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/pl/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/pt/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/ru/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/tr/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/zh-Hans/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/net45/zh-Hant/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/*.XML
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/cs/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/de/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/es/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/fr/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/it/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/ja/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/ko/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/pl/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/pt/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/ru/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/tr/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/zh-Hans/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/netstandard1.0/zh-Hant/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/*.XML
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/cs/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/de/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/es/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/fr/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/it/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/ja/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/ko/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/pl/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/pt/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/ru/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/tr/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/zh-Hans/*.xml
/packages/MSTest.TestFramework.2.1.1/lib/uap10.0/zh-Hant/*.xml
/CodeChallenge/bin/Debug/netcoreapp3.1/*.json
/CodeChallenge/bin/Debug/netcoreapp3.1/*.pdb
/CodeChallenge/obj/*.json
/CodeChallenge/obj/*.props
/CodeChallenge/obj/*.targets
/CodeChallenge/obj/Debug/netcoreapp3.1/*.cs
/CodeChallenge/obj/Debug/netcoreapp3.1/*.cache
/CodeChallenge/obj/Debug/netcoreapp3.1/*.CopyComplete
/CodeChallenge/obj/Debug/netcoreapp3.1/*.txt
/CodeChallenge/obj/Debug/netcoreapp3.1/*.pdb
/CodeChallenge/obj/Release/netcoreapp3.1/*.cs
/CodeChallenge/obj/Release/netcoreapp3.1/*.cache
/CodeChallenge/obj/*.cache
/CodeChallenge/Properties/launchSettings.json
